body {
  font-family: 'Bogle', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: white;
}
/*

Colores y variables que se pueden cambiar 

*/
.navbar {
  background-color: #ffffff;
  margin-bottom: 2em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.navbar .divider {
  margin: 0 0.5rem 0 0;
  color: #000000;
}
.navbar .navbar-brand {
  color: #000000;
  margin-left: 0.5rem;
}
.navbar .navbar-brand.title-admin {
  width: 150px;
  display: inline-block;
}
.navbar .navbar-brand.web {
  color: #000000;
  padding: 8px;
  font-size: 1.2em;
  border-radius: 6px;
}
.navbar .navbar-collapse {
  display: inline-block !important;
}
.navbar .navbar-collapse .dropdown-menu[data-bs-popper] {
  right: 0;
  left: inherit;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  text-align: right;
}
.navbar .navbar-collapse .dropdown-menu[data-bs-popper] .dropdown-item.active {
  background-color: #cd0c1d;
}
.navbar .navbar-collapse .nav-item.message {
  line-height: 2.3em;
}
.navbar .navbar-collapse .nav-item.dropdown {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #ebedef;
}
.navbar .navbar-collapse .nav-item.dropdown .dropdown-toggle::after {
  vertical-align: bottom;
  background-color: transparent;
  border: none;
}
.navbar .navbar-collapse .nav-item.dropdown .dropdown-toggle i {
  padding: 3px;
}
.navbar .navbar-collapse .nav-item.dropdown .nav-link {
  color: gray;
  font-size: 20px;
}
.navbar .nav-link {
  color: #000000;
  padding: 0;
  padding: 5px 0 0;
}
.navbar .nav-link.active {
  border-bottom: solid 2px #cd0c1d;
  color: #000000;
}
.navbar .col-search {
  justify-content: center;
  display: flex;
}
.navbar .col-search input {
  width: 300px;
}
.navbar .col-search input::placeholder {
  text-align: center;
}
.navbar .col-search .btn-search {
  background: #f8fafc;
  border: 1px solid #dee2e6;
  border-left: transparent;
  border-radius: 0 10px 10px 0;
  color: #212529;
}
.navbar .col-search .form-control:focus {
  box-shadow: none;
}
.text-warning {
  color: #ffae1f !important;
  font-weight: 600;
  font-size: 0.75rem !important;
}
.text-success {
  color: #13deb9 !important;
  font-size: 0.75rem !important;
}
.text-danger {
  color: #fa896b !important;
  font-weight: 600;
  font-size: 0.75rem !important;
}
.text-primary {
  color: #5d87ff !important;
  font-weight: 600;
  font-size: 0.75rem !important;
}
.bg-light-warning {
  background-color: #fef5e5;
}
.bg-light-primary {
  background-color: #ecf2ff;
}
.bg-light-success {
  background-color: #e6fffa;
}
.bg-light-danger {
  background-color: #fbf2ef;
}
.btn-light-primary {
  background-color: #ecf2ff;
  color: #5f85ec !important;
}
.btn-light-warning {
  background-color: #fef5e5;
  color: #ffae1f !important;
}
.btn-light-danger {
  background-color: #fbf2ef;
  color: #fa896b !important;
}
.btn-light-success {
  background-color: #e6fffa;
  color: #13be9f !important;
}
.btn-light-secondary {
  background-color: #eaeff4;
  color: #5a6a85 !important;
}
.table th,
.table tr,
.table td {
  background-color: white;
}
.table.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: #f6f9fc !important;
}
.table .dropdown .dropdown-toggle {
  color: rgba(90, 106, 133, 0.75);
  text-decoration: none;
}
.table .dropdown .dropdown-toggle::after {
  vertical-align: bottom;
  background-color: transparent;
  border: none;
}
.table .dropdown .dropdown-menu {
  right: 20px !important;
  left: inherit !important;
  background: #ffffff;
  text-align: left;
  top: -25px !important;
  inset: 0 0px auto auto !important;
}
.table .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 1rem;
  color: #5a6a85;
}
.table .dropdown .dropdown-menu .dropdown-item.active {
  background-color: #ececec;
}
.table .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f6f9fc;
}
.table .dropdown .dropdown-menu .dropdown-item i {
  margin-top: -5px;
  line-height: 1;
}
td {
  vertical-align: middle !important;
}
.box-part {
  padding: 10px 0;
  border: solid thin #cccccc;
  margin-bottom: 5px;
}
.text {
  font-size: 3em;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
#overlay.open {
  visibility: visible;
  opacity: 1;
}
#overlay::after {
  /* X button icon */
  content: "\2715";
  position: absolute;
  color: #fff;
  top: 10px;
  right: 20px;
  font-size: 2em;
}
.box-part-yellow {
  border: #008f21 solid thin !important;
  color: #008f21 !important;
}
.box-part-blue {
  border: #0271dc solid thin !important;
  color: #0271dc !important;
}
.box-part-orange {
  border: #992b00 solid thin !important;
  color: #992b00 !important;
}
.box-part-orange a,
.box-part-orange th,
.box-part-orange td {
  color: #992b00 !important;
}
.category-1 {
  background-color: #795300;
  color: #ffffff;
}
.category-2 {
  background-color: #b28405;
  color: #ffffff;
}
.category-3 {
  background-color: #efb810;
  color: #ffffff;
}
.category-4 {
  background-color: #f9db5c;
}
.category-5 {
  background-color: #ffff94;
}
.category-6 {
  background-color: #c0c0c0;
}
.categories h4 {
  padding: 10px;
  margin: 0;
}
.badge-position-1 {
  background-color: #b28405 !important;
}
.badge-position-2 {
  background-color: #BEBEBE;
}
.badge-position-3 {
  background-color: #CD7F32;
}
.pagination > li > a,
.pagination > li > span {
  color: black;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #017dc3;
  border-color: #017dc3;
  color: white;
}
.border-recipe {
  border: solid thin #cccccc;
}
img.border-recipe {
  padding: 10px;
}
.recipe-small {
  font-weight: bold;
}
.origin-image {
  min-height: 72px;
}
.btn-access-login {
  background-color: #ff6c10 !important;
  border: none;
}
@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}
.login-box {
  background: url(https://i.imgur.com/73BxBuI.png);
  background-size: cover;
  background-position: center;
  padding: 50px;
  margin: 50px auto;
  min-height: 600px;
  max-width: 70%;
  -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}
.logo {
  font-size: 40px;
  text-align: center;
  color: #888888;
  margin-bottom: 50px;
  font-weight: bold;
}
.logo .logo-font {
  color: #3BC3FF;
}
@media only screen and (max-width: 767px) {
  .logo {
    font-size: 34px;
  }
}
.header-title {
  text-align: center;
  margin-bottom: 50px;
}
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
.login-form .form-control {
  border-radius: 0;
  margin-bottom: 30px;
}
.login-form .form-group {
  position: relative;
}
.login-form .form-group .forgot-password {
  position: absolute;
  top: 6px;
  right: 15px;
}
.login-form .btn {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.login-form .btn.btn-primary {
  background: #3BC3FF;
  border-color: #31c0ff;
}
.slider-feature-card {
  background: #fff;
  max-width: 280px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}
.slider-feature-card img {
  height: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider-feature-card h3,
.slider-feature-card p {
  margin-bottom: 30px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li {
  cursor: pointer;
}
